* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}
.container {
    border: 8px solid #444;
    border-radius: 2px;
    background-color: black;
}
#display {
    font-family: Helvetica, sans-serif;
    font-size: 64px;
    font-weight: bold;
    background-color: gray;
    text-align: right;
    margin: 4px;
}
#keypad {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    gap: 2px;
}
.key {
    width: 98px;
    height: 69px;
    display: block;
    text-align: center;
    font-size: 32px;
    border: 0;
    border-radius: 4px;
}
.zero {
    flex: auto;
}
.blue {
    background-color: cornflowerblue;
}
.orange {
    background-color: darkorange;
}
.green {
    background-color: seagreen;
}
.clicked {
    background-color: tan;
}